
body {
  border: none;
  background-color: #5CB3FF;
  font-family: Raleway, sans-serif;

}

.search-container {
  margin-top: 1em;
  text-align: center;
  padding: 1em;
  display: block;
}
  .search {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
    font-size: 15px;
  }
  .search:focus {
    outline: none;
  }
  .search-button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
    font-size: 15px;
  }
  .search-button:hover  {
    background-color:#fafafa;
    color:#207cca;
  }

#content {
  background-color: white;
  margin: 50px 100px;
  padding: 50px;
}

#logo {
  text-align: center;
}

#logo > img {
  height: auto;
  max-width: 95%;
  margin-top: 50px;
  margin-bottom: 20px;
}

#tagLine {
  text-align: center;
  font-size: 1.5em;
  margin-top: -0.25em;
}

#header {
  width: 100%;
  height: 55px;
  font-size: 15px;
}

#header > div {
  width: 45%;
  float: left;
}

#repoList {
  margin-left: auto;
  margin-right: auto;
}

.show-badge {
  text-align: center;
  display: none;
}
  .badge-markdown-container {
    text-align: center;
    display: inherit;
  }
    .badgeLink {
      float: right;
      /*border: 2px solid black;*/
      background-color: #5CB3FF;
      color: white;
      height:100%;
      font-size: 0.95em;
      display: inherit;
    }
  .badge-container {
    display: inherit;
    text-align: center;
  }
    .blue-title {
      position:relative;
      padding:6px 15px;
      left:-8px;
      border:2px solid #207cca;
      background-color:#207cca;
      color:#fafafa;
      font-size: 15px;
      display: inherit;
      height: 4em;
      width: 6em;
    }
    .badgeHolder {
      display: inherit;
    }




/*#personalTitle

.orgName

.org*/

.repoButton {
  border: 2px solid black;
  background-color: white;
  color: black;
  display: inline-block;
  font-size: 1em;
  margin: .5em;
}

.repoButton:hover {
  background-color: #5CB3FF;
  cursor: pointer;
  cursor: hand;
}


@media (max-width: 700px) {

  /*#logo > img {
    height: auto;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  #loginButton {
    height: auto;
    max-width: px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }*/

}
