<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pwetty Gwaph</title>
    <link rel="stylesheet" href="/static/d3/d3.css">
  </head>
  <body>
    <div id="crystalContainer">
    </div>
    <div id="sidePanel">
      <div id=logoContainer>
        <img src="/static/images/codeCrystal2copia.png" />
      </div>
      <div id="githubRepo">
      </div>
      <div id="filePath">
        <p>Hover over node to see file path and contents<p>
      </div>
      <div id="fileContents">
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/static/d3/d3.js"></script>
  <script type="text/javascript" src="/static/d3/graphGenerator.js"></script>
</html>
