<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600" rel="stylesheet" type="text/css">
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
  </head>
  <body>
    <div id="content">
        <div id=logo>
          <img src="/static/images/codeCrystal2copia.png">
        </div>
        <div id="tagLine">
          <h2 >Build interactive maps of your GitHub repositories!</h2>
          <p>Click the GitHub logo to login and find your projects</p>
        </div>
        <a href={{link}}><img id="loginButton" src="/static/images/github.png"></a>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
  </body>
</html>
