<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600" rel="stylesheet" type="text/css">
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
  </head>
  <body>
    <h1>CODECRYSTAL</h1>
    <p>Start building interactive maps of your Github repositories!</p>
    <button><a id="loginButton" href={{link}}>LOG IN WITH GITHUB</a></button>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
  </body>
</html>
