.node {
  /*fill: #ccc;*/
  stroke: #fff;
  stroke-width: 1.5px;
}

path.link {
  stroke: #666;
  stroke-width: 3px;
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
}
