* {
  margin:0;
};

div {
    box-shadow: 1px 1px 1px #888888;
}

.node {
  /*fill: #ccc;*/
  stroke: #fff;
  stroke-width: 1.5px;
}

path.link {
  stroke: #666;
  stroke-width: 3px;
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
}

#crystalContainer {
  width:70vw;
  height:100vh;
  float:left;
}

#crystal{
  width:100%;
  height:100%;
}



#sidePanel {
  width:30vw;
  height:100vh;
  float:right;
  background-color:pink;
}

#githubRepo {
  background-color:pink;
  color: blue;
  height:10vh;
}

#filePath {
  background-color:lime;
  color: blue;
  height:10vh;
}

#fileContents {
   background-color:pink;
   color: blue;
   height:60vh;
   overflow-y:auto;
}

#logoContainer img {
  width:100%;
  height:auto;
  min-height: 100px;
}

#logoContainer {
  height:20vh;
}
